{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1 class="text-center">Вот что мы <span style="color:red">умеем</span></h1>  
  <aside class="col-12 col-md-3">    
    <ul class="list-group list-group-flush">
      <p class="text-center">
        <b>
         То одно, то другое
        </b>
      </p>
      <li class="list-group-item text-center"
      style=>
        Python
      </li>
      <li class="list-group-item text-center">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-6">
    Навыки приобрели. Всё, чему научились, используя кожанного мешка.
  </article>
</div>
{% endblock %} 